{% extends "admin/admin-base.html" %}
{% block title %}
    Admin Panel - Катера
{% endblock %}

{% block main %}
    <h2>Панель управления катерами</h2>
    <div class="window_content">
        {% for boat in boats_list %}
        <div class="data_content">
            <h3>{{ boat.name }}</h3>
            <p><strong>ID товара:</strong> {{ boat.id }}</p>
            <p><strong>Производитель:</strong> {{ boat.company_name }}</p>
            <p><strong>Наличие:</strong> {{ 'В наличие' if boat.is_active else 'Нет в наличие' }}</p>
            <p><strong>Цена:</strong> {{ boat.price }} ₽</p>
            <p><strong>Описание:</strong> {{ boat.description }}</p>
            <p><strong>Категория:</strong> {{ boat.category.name }}</p>
            <p><strong>ID категории:</strong> {{ boat.category.id }}</p>
            <p><strong>Длина корпуса:</strong> {{ boat.length_hull }} см</p>
            <p><strong>Ширина корпуса:</strong> {{ boat.width_hull }} см</p>
            <p><strong>Вес:</strong> {{ boat.weight }} кг</p>
            <p><strong>Максимальная нагрузка:</strong> {{ boat.maximum_load }} кг</p>
            <p><strong>Вместимость:</strong> {{ boat.capacity }} чел</p>
            <p><strong>Материал корпуса:</strong> {{ boat.hull_material }}</p>
            <p><strong>Толщина бортового листа:</strong> {{ boat.thickness_side_sheet if boat.thickness_side_sheet else '-' }} мм</p>
            <p><strong>Толщина днищевой листа:</strong> {{ boat.bottom_sheet_thickness if boat.bottom_sheet_thickness else '-' }} мм</p>
            <p><strong>Объём топливного бака:</strong> {{ boat.fuel_capacity if boat.fuel_capacity else '-' }} л</p>
            <p><strong>Максимальная мощность двигателя:</strong> {{ boat.maximum_engine_power if boat.maximum_engine_power else '-' }} л.с.</p>
            <p><strong>Высота борта на миделе:</strong> {{ boat.height_side_midship if boat.height_side_midship else '-' }} мм</p>
            <p><strong>Высота транца:</strong> {{ boat.transom_height if boat.transom_height else '-' }} мм</p>
            <h4>Изображения:</h4>
            {% for image in boat.images %}
                <p> <strong>- ID:</strong> {{ image.id }}  <strong>path:</strong> {{ image.path }}</p>
            {% endfor %}
            <p><strong>Дата создания:</strong> {{ boat.created_at.strftime('%Y-%m-%d %H:%M') }}</p>
            <p><strong>Дата обновления:</strong> {{ boat.updated_at.strftime('%Y-%m-%d %H:%M') }}</p>
        </div>
        {% endfor %}
    </div>

    <details class="details">
        <summary class="details_title">Добавление Катера</summary>
        <div class="details_content">
            <h3>Добавление Катера.</h3>
            <p>Заполните все поля, чтобы добавить катер. Поле "Название" должно быть уникальным.</p>
            {% if message %}
                <div class="alert {{ 'alert-success' if 'успешно' in message else 'alert-danger' }}">
                    <p>{{ message }}</p>
                </div>
            {% endif %}

            <form action="{{ url_for('admin_create_boat') }}" method="post" enctype="multipart/form-data">
                <label for="category_id">ID категории:</label>
                <input type="number" name="category_id" id="category_id" required><br>

                <label for="name">Название:</label>
                <input type="text" name="name" id="name" required><br>

                <label for="price">Цена (руб):</label>
                <input type="number" name="price" id="price" required><br>

                <label for="company_name">Производитель:</label>
                <input type="text" name="company_name" id="company_name" required><br>

                <label for="description">Описание:</label>
                <textarea name="description" id="description"></textarea><br>

                <label for="is_active">Наличие:</label>
                <select name="is_active" id="is_active">
                    <option value="true">В наличии</option>
                    <option value="false">Нет в наличии</option>
                </select><br>

                <label for="length_hull">Длина корпуса (см):</label>
                <input type="number" name="length_hull" id="length_hull" required><br>

                <label for="width_hull">Ширина корпуса (см):</label>
                <input type="number" name="width_hull" id="width_hull" required><br>

                <label for="weight">Вес (кг):</label>
                <input type="number" name="weight" id="weight" required><br>

                <label for="capacity">Вместимость (чел):</label>
                <input type="number" name="capacity" id="capacity" required><br>

                <label for="maximum_load">Максимальная нагрузка (кг):</label>
                <input type="number" name="maximum_load" id="maximum_load" required><br>

                <label for="hull_material">Материал корпуса:</label>
                <input type="text" name="hull_material" id="hull_material" required><br>

                <label for="thickness_side_sheet">Толщина бортового листа (мм), необязательно:</label>
                <input type="number" name="thickness_side_sheet" id="thickness_side_sheet"><br>

                <label for="bottom_sheet_thickness">Толщина днищевой листа (мм), необязательно:</label>
                <input type="number" name="bottom_sheet_thickness" id="bottom_sheet_thickness"><br>

                <label for="fuel_capacity">Объём топливного бака (л), необязательно:</label>
                <input type="number" name="fuel_capacity" id="fuel_capacity"><br>

                <label for="maximum_engine_power">Мощность двигателя (л.с.), необязательно:</label>
                <input type="number" name="maximum_engine_power" id="maximum_engine_power"><br>

                <label for="height_side_midship">Высота борта на миделе (мм), необязательно:</label>
                <input type="number" name="height_side_midship" id="height_side_midship"><br>

                <label for="transom_height">Высота транца (мм), необязательно:</label>
                <input type="number" name="transom_height" id="transom_height"><br>

                <label for="images">Изображения (Зажимая "Shift", выберите изображения):</label>
                <input type="file" name="images" id="images" multiple accept="image/*"><br>

                <button type="submit" class="btn-details">Создать катер</button>
            </form>
        </div>
    </details>

    <details class="details">
        <summary class="details_title">Обновление Данных</summary>
        <div class="details_content">
            <h3>Обновление информации о катере.</h3>
            <p>Укажите ID катера и заполните поля, которые хотите изменить.</p>
            {% if message %}
                <div class="alert {{ 'alert-success' if 'успешно' in message else 'alert-danger' }}">
                    <p>{{ message }}</p>
                </div>
            {% endif %}

            <form action="{{ url_for('admin_update_boat') }}" method="post">
                <label for="boat_id_up">ID катера, который нужно обновить:</label>
                <input type="number" name="boat_id_up" id="boat_id_up" required><br>

                <label for="name">Название:</label>
                <input type="text" name="name"><br>

                <label for="price">Цена (руб):</label>
                <input type="number" name="price"><br>

                <label for="company_name">Производитель:</label>
                <input type="text" name="company_name"><br>

                <label for="description">Описание:</label>
                <textarea name="description"></textarea><br>

                <label for="is_active">Наличие:</label>
                <select name="is_active">
                    <option value="true">В наличии</option>
                    <option value="false">Нет в наличии</option>
                </select><br>

                <label for="length_hull">Длина корпуса (см):</label>
                <input type="number" name="length_hull"><br>

                <label for="width_hull">Ширина корпуса (см):</label>
                <input type="number" name="width_hull"><br>

                <label for="weight">Вес (кг):</label>
                <input type="number" name="weight"><br>

                <label for="capacity">Вместимость (чел):</label>
                <input type="number" name="capacity"><br>

                <label for="maximum_load">Максимальная нагрузка (кг):</label>
                <input type="number" name="maximum_load"><br>

                <label for="hull_material">Материал корпуса:</label>
                <input type="text" name="hull_material"><br>

                <label for="thickness_side_sheet">Толщина бортового листа (мм):</label>
                <input type="number" name="thickness_side_sheet"><br>

                <label for="bottom_sheet_thickness">Толщина днищевой листа (мм):</label>
                <input type="number" name="bottom_sheet_thickness"><br>

                <label for="fuel_capacity">Объём топливного бака (л):</label>
                <input type="number" name="fuel_capacity"><br>

                <label for="maximum_engine_power">Мощность двигателя (л.с.):</label>
                <input type="number" name="maximum_engine_power"><br>

                <label for="height_side_midship">Высота борта на миделе (мм):</label>
                <input type="number" name="height_side_midship"><br>

                <label for="transom_height">Высота транца (мм):</label>
                <input type="number" name="transom_height"><br>

                <button type="submit" class="btn-details">Обновить данные</button>
            </form>
        </div>
    </details>

    <details class="details">
        <summary class="details_title">Обновление Фото</summary>
        <div class="details_content">
            <h3>Обновление фотографий катера</h3>
            <p>Укажите ID катера, у которого хотите изменить фото. Укажите через запятую, без пробелов, ID изображений этого катера которые хотите удалить.</p>
            <p>Добавьте новые фото, зажимая "Shift", выберите нужные изображения.</p>
            {% if message %}
                <div class="alert {{ 'alert-success' if 'успешно' in message else 'alert-danger' }}">
                    <p>{{ message }}</p>
                </div>
            {% endif %}

            <form action="{{ url_for('admin_update_boat_images') }}" method="post" enctype="multipart/form-data">
                <label for="boat_id_img">ID катера, у которого нужно обновить фото:</label>
                <input type="number" name="boat_id_img" id="boat_id_img" required><br>

                <label for="remove_images">ID изображений для удаления (через запятую, без пробелов):</label>
                <input type="text" name="remove_images" id="remove_images"><br>

                <label for="add_images">Новые изображения (Зажимая "Shift", выберите несколько):</label>
                <input type="file" name="add_images" id="add_images" multiple accept="image/*"><br>

                <button type="submit" class="btn-details">Обновить фото</button>
            </form>
        </div>
    </details>

    <details class="details">
        <summary class="details_title">Удаление Катера</summary>
        <div class="details_content">
            <h3>Удаление катера по ID.</h3>
            <p>Укажите ID катера, который хотите удалить.</p>
            {% if message %}
                <div class="alert {{ 'alert-success' if 'успешно' in message else 'alert-danger' }}">
                    <p>{{ message }}</p>
                </div>
            {% endif %}

            <form action="{{ url_for('admin_delete_boat') }}" method="post">
                <label for="boat_id_del">ID катера:</label>
                <input type="number" name="boat_id_del" id="boat_id_del" required>
                <button type="submit" class="btn-details">Удалить</button>
            </form>
        </div>
    </details>
{% endblock %}