{% extends "admin/admin-base.html" %}
{% block title %}
    Admin Panel - Прицепы
{% endblock %}

{% block main %}
    <h2>Панель управления прицепами</h2>
    <div class="window_content">
        {% for trailer in trailers_list %}
        <div class="data_content">
            <h3>{{ trailer.name }}</h3>
            <p><strong>ID товара:</strong> {{ trailer.id }}</p>
            <p><strong>Производитель:</strong> {{ trailer.company_name }}</p>
            <p><strong>Наличие:</strong> {{ 'В наличие' if trailer.is_active else 'Нет в наличие' }}</p>
            <p><strong>Цена:</strong> {{ trailer.price }} ₽</p>
            <p><strong>Описание:</strong> {{ trailer.description }}</p>
            <p><strong>Категория:</strong> {{ trailer.category.name }}</p>
            <p><strong>ID категории:</strong> {{ trailer.category.id }}</p>
            <p><strong>Длина прицепа:</strong> {{ trailer.trailer_length }} см</p>
            <p><strong>Макс. длина перевозимого судна:</strong> {{ trailer.max_ship_length }} см</p>
            <p><strong>Полный вес прицепа:</strong> {{ trailer.full_mass }} кг</p>
            <p><strong>Грузоподъемность:</strong> {{ trailer.load_capacity }} кг</p>
            <h4>Изображения:</h4>
            {% for image in trailer.images %}
                <p> <strong>- ID:</strong> {{ image.id }}  <strong>path:</strong> {{ image.path }}</p>
            {% endfor %}
            <p><strong>Дата создания:</strong> {{ trailer.created_at }}</p>
            <p><strong>Дата обновления:</strong> {{ trailer.updated_at }}</p>
        </div>
        {% endfor %}
    </div>

    <details class="details">
        <summary class="details_title">Добавление Прицепа</summary>
        <div class="details_content">
            <h3>Добавление Прицепа.</h3>
            <p>Заполните все поля, чтобы добавить прицеп. Поле "Название" должно быть уникальным.</p>
            {% if message %}
                <div class="alert {{ 'alert-success' if 'успешно' in message else 'alert-danger' }}">
                    <p>{{ message }}</p>
                </div>
            {% endif %}

            <form action="{{ url_for('admin_create_trailer') }}" method="post" enctype="multipart/form-data">
                <label for="category_id">ID категории:</label>
                <input type="number" name="category_id" id="category_id" required><br>

                <label for="name">Название:</label>
                <input type="text" name="name" id="name" required><br>

                <label for="price">Цена (руб):</label>
                <input type="number" name="price" id="price" required><br>

                <label for="company_name">Производитель:</label>
                <input type="text" name="company_name" id="company_name" required><br>

                <label for="description">Описание:</label>
                <textarea name="description" id="description"></textarea><br>

                <label for="is_active">Наличие:</label>
                <select name="is_active" id="is_active">
                    <option value="true">В наличии</option>
                    <option value="false">Нет в наличии</option>
                </select><br>

                <label for="trailer_length">Длина прицепа (см):</label>
                <input type="number" name="trailer_length" id="trailer_length" required><br>

                <label for="max_ship_length">Макс. длина перевозимого судна (см):</label>
                <input type="number" name="max_ship_length" id="max_ship_length" required><br>

                <label for="full_mass">Полный вес прицепа (кг):</label>
                <input type="number" name="full_mass" id="full_mass" required><br>

                <label for="load_capacity">Грузоподъемность (кг):</label>
                <input type="number" name="load_capacity" id="load_capacity" required><br>

                <label for="images">Изображения (Зажимая "Shift", выберите изображения):</label>
                <input type="file" name="images" id="images" multiple accept="image/*"><br>

                <button type="submit" class="btn-details">Создать прицеп</button>
            </form>
        </div>
    </details>

    <details class="details">
        <summary class="details_title">Обновление Данных</summary>
        <div class="details_content">
            <h3>Обновление информации о прицепе.</h3>
            <p>Укажите ID прицепа и заполните поля, которые хотите изменить.</p>
            {% if message %}
                <div class="alert {{ 'alert-success' if 'успешно' in message else 'alert-danger' }}">
                    <p>{{ message }}</p>
                </div>
            {% endif %}

            <form action="{{ url_for('admin_update_trailer') }}" method="post">
                <label for="trailer_id_up">ID прицепа, который нужно обновить:</label>
                <input type="number" name="trailer_id_up" id="trailer_id_up" required><br>

                <label for="name">Название:</label>
                <input type="text" name="name"><br>

                <label for="price">Цена (руб):</label>
                <input type="number" name="price"><br>

                <label for="company_name">Производитель:</label>
                <input type="text" name="company_name"><br>

                <label for="description">Описание:</label>
                <textarea name="description"></textarea><br>

                <label for="is_active">Наличие:</label>
                <select name="is_active">
                    <option value="true">В наличии</option>
                    <option value="false">Нет в наличии</option>
                </select><br>

                 <label for="trailer_length">Длина прицепа (см):</label>
                <input type="number" name="trailer_length"><br>

                <label for="max_ship_length">Макс. длина перевозимого судна (см):</label>
                <input type="number" name="max_ship_length"><br>

                <label for="full_mass">Полный вес прицепа (кг):</label>
                <input type="number" name="full_mass"><br>

                <label for="load_capacity">Грузоподъемность (кг):</label>
                <input type="number" name="load_capacity"><br>

                <button type="submit" class="btn-details">Обновить данные</button>
            </form>
        </div>
    </details>

    <details class="details">
        <summary class="details_title">Обновление Фото</summary>
        <div class="details_content">
            <h3>Обновление фотографий прицепа</h3>
            <p>Укажите ID прицепа, у которого хотите изменить фото. Укажите через запятую, без пробелов, ID изображений этого прицепа которые хотите удалить.</p>
            <p>Добавьте новые фото, зажимая "Shift", выберите нужные изображения.</p>
            {% if message %}
                <div class="alert {{ 'alert-success' if 'успешно' in message else 'alert-danger' }}">
                    <p>{{ message }}</p>
                </div>
            {% endif %}

            <form action="{{ url_for('admin_update_trailer_images') }}" method="post" enctype="multipart/form-data">
                <label for="trailer_id_img">ID прицепа, у которого нужно обновить фото:</label>
                <input type="number" name="trailer_id_img" id="trailer_id_img" required><br>

                <label for="remove_images">ID изображений для удаления (через запятую, без пробелов):</label>
                <input type="text" name="remove_images" id="remove_images"><br>

                <label for="add_images">Новые изображения (Зажимая "Shift", выберите несколько):</label>
                <input type="file" name="add_images" id="add_images" multiple accept="image/*"><br>

                <button type="submit" class="btn-details">Обновить фото</button>
            </form>
        </div>
    </details>

    <details class="details">
        <summary class="details_title">Удаление Прицепа</summary>
        <div class="details_content">
            <h3>Удаление прицепа по ID.</h3>
            <p>Укажите ID прицепа, который хотите удалить.</p>
            {% if message %}
                <div class="alert {{ 'alert-success' if 'успешно' in message else 'alert-danger' }}">
                    <p>{{ message }}</p>
                </div>
            {% endif %}

            <form action="{{ url_for('admin_delete_trailer') }}" method="post">
                <label for="trailer_id_del">ID прицепа:</label>
                <input type="number" name="trailer_id_del" id="trailer_id_del" required>
                <button type="submit" class="btn-details">Удалить</button>
            </form>
        </div>
    </details>
{% endblock %}