/* Стили для основного контента. */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: url('../images/website/background-for-site.jpg') no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    font-family: 'Poppins', sans-serif;
}

main.content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 120px;
    padding-bottom: 60px;
}

.center-block {
    width: calc(100% - 80px);
    margin: 0 auto;
}

.block-content {
    backdrop-filter: blur(20px);
    padding: 40px;
    border-radius: 20px;
    border: 2px solid rgba(255, 255, 255, .5);
    text-align: center;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    color: #162938;
    opacity: 1;
    transition: all 0.4s ease;
    width: fit-content;
    max-width: 100%;
    margin: 0 auto;
}

.block-content.hidden {
    opacity: 0;
    pointer-events: none;
}

.block-content h1 {
    margin-bottom: 40px;
}

.block-content h2 {
    margin-bottom: 20px;
}

.block-content p {
    font-size: 1em;
    line-height: 1.6;
    margin-bottom: 15px;
}

.bloc-products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 40px;
    justify-content: stretch;
}

.category {
    overflow: hidden;
    border-radius: 40px;
    position: relative;
    border: 2px solid rgba(255, 255, 255, .5);
    box-shadow: 0 0 30px rgba(0, 0, 0, .6);
    transition: transform 0.3s ease;
}

.category:hover {
    transform: scale(1.05);
}

.category img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(90%);
}

.category-title {
    color: white;
    font-size: 1.3em;
    font-weight: 500;
    position: absolute;
    bottom: 12px;
    right: 0;
    left: 0;
}

.product {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 20px;
    border: 0 solid rgba(255, 255, 255, .5);
    box-shadow: 0 0 30px rgba(0, 0, 0, .8);
    transition: transform 0.3s ease;
}

.product.active {
    transform: scale(1.05);
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);
}

.status-available {
    color: #006400;
    font-weight: 600;
}

.status-unavailable {
    color: #B22222;
    font-weight: 600;
}

.product-img {
    width: 100%;
    min-height: 160px;
    aspect-ratio: 5 / 3;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}

.product-desc {
    padding: 20px;
}

.product-title {
    margin-bottom: 10px;
    font-size: 1.3em;
    font-weight: 600;
}

.product-price {
    margin-bottom: 10px;
    font-size: 1.1em;
    font-weight: 600;
}

.product ul {
    border-top: 2px solid;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    padding-top: 14px;
}

.product li {
    float: left;
    font-size: 16px;
    list-style: outside none none;
    margin-bottom: 8px;
    width: 50%;
}

.basic-bloc {
    max-width: 1200px;
}

.bloc-product-images {
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.image-navigation {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    z-index: 10;
}

.nav-button {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 24px;
    transition: background-color 0.3s ease;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.main-image img {
    width: 100%;
    height: auto;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    object-fit: cover;
    cursor: pointer;
}

.thumbnails {
    padding: 10px 0;
    overflow: hidden;
}

.thumbnails img {
    width: 135px;
    height: 135px;
    border-radius: 10px;
    margin-right: 10px
    object-fit: cover;
    aspect-ratio: 1 / 1;
    cursor: pointer;
    transition: transform 0.3s ease;
    border: 2px solid transparent;
}

.thumbnails img.active {
    border-color: #B22222;
    transform: scale(1.05);
}

.bloc-price-info{
    padding: 40px;
}

.bloc-price-info p {
    color: #B22222;
    font-size: 1.3em;
    font-weight: 600;
}

.btn-buy {
    background-color: #fe5000;
    width: 200px;
    color: white;
    border: none;
    border-radius: 15px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn-buy:hover {
    transform: scale(1.02);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
}

.btn-buy:active {
    transform: scale(0.98);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.btn-favorites {
    background-color: #B22222;
    width: 180px;
    color: white;
    border: none;
    border-radius: 15px;
    padding: 10px 20px;
    font-size: 13px;
    margin-left: 10px;
    margin-top: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn-favorites:hover {
    transform: scale(1.02);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
}

.btn-favorites:active {
    transform: scale(0.98);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.btn-favorites-icon {
    background-color: #B22222;
    width: 110px;
    color: white;
    border: none;
    border-radius: 15px;
    padding: 4px 4px;
    font-size: 12px;
    margin-left: 4px;
    margin-top: 10px;
    cursor: pointer;
}

.bloc-product-info{
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 15px;
    border: 2px solid #ccc;
    box-shadow: 0 0 30px rgba(0, 0, 0, .8);
}

.product-nav-tabs {
    display: flex;
    border-bottom: 2px solid #ccc;
    margin-bottom: 20px;
}

.nav-item {
    overflow: hidden;
    border-radius: 15px 15px 0 0;
    margin-right: 10px;
    list-style-type: none;
    padding: 15px;
}

.nav-item:has(.nav-link.active) {
    background-color: #B22222;
}

.nav-link {
    text-decoration: none;
    color: #333;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.nav-link.active {
    color: white;
}

.tab-content {
    display: flex;
    flex-direction: column;
}

.tab-pane {
    display: none;
    padding: 20px;
    width: 100%;
}

.tab-pane.active {
    display: block;
}

.tab-pane table {
    width: 100%;
    border-collapse: collapse;
    font-size: 1em;
}

.tab-pane table tr {
    border-bottom: 1px solid #ccc;
    display: table;
    width: 100%;
    padding: 8px 0;
}

.tab-pane table td {
    vertical-align: top;
}

.td-label {
    padding: 12px 0px 12px 40px;
    text-align: left;
    font-weight: 600;
    word-break: break-all;
    hyphens: auto;
}

.td-value {
    padding: 12px 120px 12px 0px;
    text-align: right;
}

.bloc-favorite {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 20px;
    border: 0 solid rgba(255, 255, 255, .5);
    box-shadow: 0 0 30px rgba(0, 0, 0, .8);
    margin-top: 40px;
}

.favorite-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    width: fit-content;
}

.favorite-item img {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    margin-right: 10px
    object-fit: cover;
    aspect-ratio: 1 / 1;
    cursor: pointer;
}

.btn-delete {
    cursor: pointer;
    border: none;
    background: none;
    transition: transform 0.2s
}

.btn-delete:hover {
    transform: scale(1.2);
}

.btn-delete ion-icon {
    color: #B22222;
}

@media (max-width: 1100px) {
    main.content {
        padding-top: 180px;
    }

@media (max-width: 800px) {
    .td-label {
        padding: 12px 0px;
    }

    .td-value {
        padding: 12px 0px;
    }

@media (max-width: 600px) {
    main.content {
        padding-top: 220px;
    }

@media (max-width: 480px) {
    main.content {
        padding-top: 250px;
    }

    .bloc-products {
        grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    }

    .block-content {
        padding: 20px;
    }

    .bloc-price-info {
        padding: 20px;
    }

    .thumbnails img {
    width: 100px;
    height: 100px;
    }

    .btn-buy {
        width: 160px;
    }

    .btn-favorites {
        width: 140px;
    }
}

