{% extends "base.html" %}
{% block title %}
    Избранное
{% endblock %}

{% block main %}
    <h2>Избранное</h2>
    {% if favorites_list.favorites|length == 0 %}
        <h3>В избранном пока пусто...</h3>
        <p>
            Добавляйте товары с помощью кнопки<button class="btn-favorites-icon">В избранное</button> ,
            чтобы не потерять их и купить позже
        </p>
    {% else %}
        {% for favorite in favorites_list.favorites %}
            <div class="bloc-favorite">
                <div class="favorite-item">
                    {% if favorite.product.image %}
                        <img src="{{ favorite.product.image.path }}" alt="Изображение товара">
                    {% else %}
                        <img src="/static/images/website/image-missing.png" alt="Изображение товара">
                    {% endif %}
                </div>
                <div class="favorite-item">
                    <h3>{{ favorite.product.name }}</h3>
                    <p>Производитель: {{ favorite.product.company_name }}</p>
                    <p>
                        Наличие:
                        {% if favorite.product.is_active %}
                            <span class="status-available">В наличии</span>
                        {% else %}
                            <span class="status-unavailable">Нет в наличии</span>
                        {% endif %}
                    </p>
                </div>
                <div class="favorite-item">
                    <p>Цена: {{ favorite.product.price }} ₽</p>
                    <button id="btnBuy" class="btn-buy">Купить</button>
                </div>
                <div class="favorite-item">
                    <p>Дата добавления:</p>
                    <p>{{ favorite.created_at.strftime('%Y-%m-%d %H:%M') }}</p>
                </div>
                <div class="favorite-item">
                    <button class="btn-delete" aria-label="Удалить" data-favorite-id="{{ favorite.id }}">>
                        <ion-icon name="trash" class="icon-header"></ion-icon>
                    </button>
                </div>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}
