{% extends 'base.html' %}

{% block title %}
    Забыл пароль
{% endblock %}

{% block main %}
    <h2>Сменить&nbsp;пароль</h2>
    <p>Введите ваш email и мы отправим вам письмо со сбросом пароля.</p>
    <div class="input-box">
        <span class="icon">
            <ion-icon name="mail"></ion-icon>
        </span>
        <input type="email" id="recovery-email" required>
        <label>Email</label>
    </div>
    <div id="password-reset-sent" class="alert-success d-none">
        <h4>Письмо отправлено! Проверьте email.</h4>
    </div>
    <div id="password-reset-error" class="alert-danger d-none">
        <h4>Ошибка! Не удалось отправить запрос.</h4>
    </div>
    <button id="btn-recovery-email" type="submit" class="btnExit">Отправить письмо</button>
    <div id="loading-indicator" class="spinner d-none"></div>

{% endblock %}