{% extends 'base.html' %}

{% block title %}
    Подтверждение E-mail
{% endblock %}

{% block main %}
    <h3>Пожалуйста, подождите. Мы проверяем ваш адрес электронной почты.</h3>

    <div id="loading-indicator" class="spinner d-none"></div>

    <div id="missing-token-alert" class="d-none" style="color: #B22222;" role="alert">
        <p>Извините, но у вас отсутствует токен проверки. Повторите попытку.</p>
    </div>

    <div id="verification-error-alert" class="d-none" style="color: #B22222;" role="alert">
        <h4>Что-то пошло не так.</h4>
        Извините, мы не смогли проверить ваш адрес электронной почты.
    </div>

    <input type="hidden" id="verify-email" value="{{ url_for('verify:verify') }}">

    <script src="/static/js/verify.js"></script>
{% endblock %}