{% extends "base.html" %}
{% block title %}
    {{ boat.name }}
{% endblock %}

{% block main %}
    <div class="basic-bloc">
        <h1>{{ boat.name }}</h1>

        <div class="bloc-product-images">
            <div class="main-image">
                <img id="main-img" src="{{ boat.images[0].path }}" alt="Главное изображение катера">
                <div class="image-navigation">
                    <button class="nav-button prev">&#10094;</button>
                    <button class="nav-button next">&#10095;</button>
                </div>
            </div>
            <div class="thumbnails">
                {% for image in boat.images %}
                    <img
                        src="{{ image.path }}"
                        alt="Миниатюра"
                        class="{% if loop.first %} active {% endif %}">
                {% endfor %}
            </div>
        </div>

        <div class="bloc-price-info">
            {% if boat.is_active %}
                <span class="status-available">В наличии</span>
            {% else %}
                <span class="status-unavailable">Нет в наличии</span>
            {% endif %}
            <p>Цена: {{ boat.price }} ₽</p>
            <button id="btnBuy" class="btn-buy">Купить</button>
            <button id="btnAddFavorites" class="btn-favorites">В избранное</button>
        </div>

        <div class="bloc-product-info">
            <ul class="product-nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" data-tab="description">Описание</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-tab="features">Характеристики</a>
                </li>
            </ul>
            <div class="tab-content">
                <div id="description" class="tab-pane active">
                    <p>{{ boat.description or 'Нет описания' }}</p>
                </div>
                <div id="features" class="tab-pane">
                    <table>
                        <tr>
                            <td class="td-label">Производитель</td>
                            <td class="td-value"> {{ boat.company_name }}</td>
                        </tr>
                        <tr>
                            <td class="td-label">Длина корпуса</td>
                            <td class="td-value"> {{ boat.length_hull }} см</td>
                        </tr>
                        <tr>
                            <td class="td-label">Ширина корпуса</td>
                            <td class="td-value">{{ boat.width_hull }} см</td>
                        </tr>
                        <tr>
                            <td class="td-label">Вес</td>
                            <td class="td-value"> {{ boat.weight }} кг</td>
                        </tr>
                        <tr>
                            <td class="td-label">Максимальная нагрузка</td>
                            <td class="td-value"> {{ boat.maximum_load }} кг</td>
                        </tr>
                        <tr>
                            <td class="td-label">Вместимость</td>
                            <td class="td-value"> {{ boat.capacity }} чел</td>
                        </tr>
                        <tr>
                            <td class="td-label">Материал корпуса</td>
                            <td class="td-value"> {{ boat.hull_material }} </td>
                        </tr>
                        <tr>
                            <td class="td-label">Толщина бортового листа</td>
                            <td class="td-value"> {{ boat.thickness_side_sheet if boat.thickness_side_sheet else '-' }} мм</td>
                        </tr>
                        <tr>
                            <td class="td-label">Толщина днищевой листа</td>
                            <td class="td-value"> {{ boat.bottom_sheet_thickness if boat.bottom_sheet_thickness else '-' }} мм</td>
                        </tr>
                        <tr>
                            <td class="td-label">Объём топливного бака</td>
                            <td class="td-value"> {{ boat.fuel_capacity if boat.fuel_capacity else '-' }} л</td>
                        </tr>
                        <tr>
                            <td class="td-label">Максимальная мощность двигателя</td>
                            <td class="td-value"> {{ boat.maximum_engine_power if boat.maximum_engine_power else '-' }} л.с.</td>
                        </tr>
                        <tr>
                            <td class="td-label">Высота борта на миделе</td>
                            <td class="td-value"> {{ boat.height_side_midship if boat.height_side_midship else '-' }} мм</td>
                        </tr>
                        <tr>
                            <td class="td-label">Высота транца</td>
                            <td class="td-value"> {{ boat.transom_height if boat.transom_height else '-' }} мм</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <input type="hidden" id="user-id" value="{{ user.id }}">
    <input type="hidden" id="product-id" value="{{ boat.id }}">

    <script src="/static/js/order.js"></script>

{% endblock %}