{% extends "base.html" %}
{% block title %}
    Катера
{% endblock %}

{% block main %}
    <h1>Катера</h1>
    <div class="bloc-products">
        {% for boat in boats_list %}
            <div class="product">
                <a href="{{ url_for('boat_detail', boat_name=boat.name|replace(' ', '%20')) }}"
                   title="Катер"
                   class="product-link"
                   data-product-id="{{ boat.id }}">
                    <img class="product-img" src="{{ boat.image.path }}" alt="Катера">
                </a>
                <div class="product-desc">
                    <div class="product-title">{{ boat.name }}</div>
                    <div class="product-price">Цена: {{ boat.price }} руб.</div>
                    <ul>
                        <li>
                            <span title="Длинна корпуса">
                                <ion-icon name="swap-vertical" alt="Длинна корпуса" style="pointer-events: none;"></ion-icon>
                            </span>
                            &nbsp;{{ boat.length_hull }} см
                        </li>
                        <li>
                            <span title="Ширина корпуса">
                                <ion-icon name="swap-horizontal" alt="Ширина корпуса" style="pointer-events: none;"></ion-icon>
                            </span>
                            &nbsp;{{ boat.width_hull }} см
                        </li>
                        <li>
                            <span title="Вес катера">
                                <ion-icon name="barbell" alt="Вес катера" style="pointer-events: none;"></ion-icon>
                            </span>
                            &nbsp;{{ boat.weight }} кг
                        </li>
                        <li>
                            <span title="Вместимость">
                                <ion-icon name="man" alt="Вместимость" style="pointer-events: none;"></ion-icon>
                            </span>
                            &nbsp;{{ boat.capacity }} чел
                        </li>
                        <li>
                            <span title="Объем топливного бака">
                                <ion-icon name="water" alt="Объем топливного бака" style="pointer-events: none;"></ion-icon>
                            </span>
                            &nbsp;{{ boat.fuel_capacity if boat.fuel_capacity else '-' }} л
                        </li>
                        <li>
                            <span title="Макс. мощность двигателя">
                                <ion-icon name="flash" alt="Макс. мощность двигателя" style="pointer-events: none;"></ion-icon>
                            </span>
                            &nbsp;{{ boat.maximum_engine_power if boat.maximum_engine_power else '-' }} л.с.
                        </li>
                    </ul>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}